{% extends "base.html" %}
{% block content %}

<h1>Profile page</h1>
<div class="table-container" style="margin-left: 350px;
    margin-right: 150px;">

    <table style="background-color: #de9637;">
        <tr>
            <th>Shalarth_ID:</th>
            <td>{{datas.Shalarth_ID}}</td>
        </tr>
        <tr>
            <th>Teacher_name:</th>
            <td>{{datas.Teacher_name}}</td>
        </tr>
        <tr>
            <th>Panchayat_samiti:</th>
            <td>{{datas.Panchayat_samiti}}</td>
        </tr>
        <tr>
            <th>School_Udise_Code:</th>
            <td>{{datas.School_Udise_Code}}</td>
        </tr>
        <tr>
            <th>School_Name:</th>
            <td>{{datas.School_Name}}</td>
        </tr>
        <tr>
            <th>Position:</th>
            <td>{{datas.Position}}</td>
        </tr>
        <tr>
            <th>GPF_NO:</th>
            <td>{{datas.GPF_NO}}</td>
        </tr>
        <tr>
            <th>DCPS_NO:</th>
            <td>{{datas.DCPS_NO}}</td>
        </tr>
        <tr>
            <th>PRAN_NO:</th>
            <td>{{datas.PRAN_NO}}</td>
        </tr>
        <tr>
            <th>PAN_NO:</th>
            <td>{{datas.PAN_NO}}</td>
        </tr>
        <tr>
            <th>MOB_NO:</th>
            <td>{{datas.MOB_NO}}</td>
        </tr>
        <tr>
            <th>EMAIL_ID:</th>
            <td>{{datas.EMAIL_ID}}</td>
        </tr>
        <tr>
            <th>BRANCH_NAME:</th>
            <td>{{datas.BRANCH_NAME}}</td>
        </tr>
        <tr>
            <th>Pay_matrix:</th>
            <td>{{datas.Pay_matrix}}</td>
        </tr>
        <tr>
            <th>mul_vetan:</th>
            <td>{{datas.mul_vetan}}</td>
        </tr>
        <tr>
            <th>mahagai_batta:</th>
            <td>{{datas.mahagai_batta}}</td>
        </tr>
        <tr>
            <th>gharbhade:</th>
            <td>{{datas.gharbhade}}</td>
        </tr>
        <tr>
            <th>vahan_batta:</th>
            <td>{{datas.vahan_batta}}</td>
        </tr>
        <tr>
            <th>Washing_Allowance:</th>
            <td>{{datas.Washing_Allowance}}</td>
        </tr>
    </table>
</div>


{% endblock %}
